<footer id="contact">
  <div class="footer-container">
    <section class="footer-contact">
      <h3>تواصل معنا</h3>
      <p>للتواصل: 0575593602 | 0538489513</p>
      <p>
        email:
        <a href="mailto:abdullahafzal5164@gmail.com">
          <strong>abdullahafzal5164@gmail.com</strong>
        </a>
      </p>
      <a href="tel:+966538489513" class="call-link"> اتصل بنا</a>
      <div class="social-icons">
        <a href="https://wa.me/966538489513" target="_blank">
          <img src="/static/images/whatsapp.jpeg" alt="whatsapp" />
        </a>
        <a
          href="https://www.facebook.com/profile.php?id=61567890460527&mibextid=LQQJ4d"
          target="_blank"
        >
          <img src="/static/images/facebook.jpeg" alt="facebook" />
        </a>
        <a
          href="https://www.instagram.com/invites/contact/?igsh=5u1uue8xz5p0&utm_content=w692vyd"
          target="_blank"
        >
          <img src="/static/images/instagram.jpeg" alt="instagram" />
        </a>
        <a href="https://snapchat.com/t/vUK7QINb" target="_blank">
          <img src="/static/images/snap.jpeg" alt="snapshot" />
        </a>
      </div>
    </section>
  </div>
</footer>
